# Dify 合同生成 Chatflow 应用的 API Key
DIFY_CHATFLOW_API_KEY=app-YtTrxUobquAqt1MUseVItN2P

# Dify 合同审查 Workflow 应用的 API Key
DIFY_WORKFLOW_API_KEY=app-Ll5EP6X7R0FlM8hH9tkn2Om5

# Dify API 基础地址（如使用私有部署，改成对应的地址）
DIFY_BASE_URL=https://api.dify.ai/v1
